
		body {
			font-family: "Satisfy", cursive;
            background-color: #0099cc;
            color:white;
		}

		.startup-sutra-heading {
			text-align: center;
			font-size: 50px;
            background-color: white;
            color: #0099cc;
            padding:10px;
            margin-left: -1%;
            margin-right: -1%;
		}

		.startup-sutra-introduction {
			font-size: 30px;
            text-align: center;
            padding: 10px;
		}

		.startup-sutra-login-form {
			padding: 10px;
            color: #0099cc;
            background-color:white;
            font-size: 30px;
            border-radius: 3%;
		}

        input {
            margin-top: 5px;
        }

		.glyphicon {
			font-size: 50px;
            color: white;
		}
