body {
    text-align: center;
}

input {
    margin-top: 10px;
}

.signup-form {
    padding: 20px;
    border-radius: 5px;
    color:white;
    background-color: #0099cc;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}