<html>
<head><title> Startup-Sutra </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="../scripts/index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pangolin|Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../css/hover.css" rel="stylesheet" media="all">
    <link href="../css/index.css" rel="stylesheet" media="all">

</head>
<body ng-app="StartupSutraIndex">
	<div class="startup-sutra-heading">
        <h1 class="startup-sutra-heading"> Welcome to StartupSutra </h1>
     </div>
    <div class="row">
        <p class="startup-sutra-introduction col-sm-12">
            Startup-sutra is for Starterpreneurs! We believe in <b><i>"How to do it?"</i></b> rather than <i>"what to do?".</i>
            <br><br>
            Join the revolution in <b><i>50 days! </i></b> <br>
            Like us on Facebook! <br>
            <span class="hvr-float-shadow">
                <a href="https://www.facebook.com/StartupSutraIndia/">
                    <span class = "glyphicon glyphicon-thumbs-up"></span>
                </a>
            </span>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div ng-controller="StartupSutraAuthentication" class="form-group col-sm-4">
            <form class="startup-sutra-login-form" ng-submit="authenticateUser()">
                <div style="text-align: center;"><h4>Login</h4></div>
                <input type="text" placeholder="email" ng-model="user_email" class="form-control">
                <input type="password" placeholder="password" ng-model="user_password" class="form-control">
                <input type="submit" value="Startup" class="form-control btn btn-info">
                <h4 style="text-align: center"><a href="./register.html">Did not startup? Start here!</a></h4>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>