<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="../scripts/register.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pangolin|Satisfy" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../css/hover.css" rel="stylesheet" media="all">
    <link href="../css/register.css" rel="stylesheet" media="all">
</head>
<body ng-app="StartupSutraRegister">
    <div class="row">
        <h1>Register here!</h1>
        <br>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-group signup-form" ng-controller="StartupSutraRegisterCreateController" ng-submit="createUser()">
                <input type="text" class="form-control" ng-model="user_email" placeholder="email/username">
                <input type="text" class="form-control" ng-model="user_name" placeholder="your name">
                <input type="password" class="form-control" ng-model="user_password" placeholder="password">
                <input type="password" class="form-control" ng-model="user_confirm_password" placeholder="confirm password">
                <br><h3>------------- EXTRA DETAILS ----------</h3><br>
                <span class="left"><b>Enter all the education details.</b></span><br>
                <div id="education">
                <input type="text" class="form-control" ng-model="educations" placeholder="B.tech-CSE, MBA-IT">
                </div>
                <br>
                <span class="left"><b>Enter all the professional details.</b></span><br>
                <div id="profession">
                <input type="text" class="form-control" ng-model="professions" placeholder="Software Engineer, Developer, Java Developer">
                </div>
                <br>
                <span class="left"><b>Enter all the Interests.</b></span><br>
                <div id="interests">
                <input type="text" class="form-control" ng-model="interests" placeholder="coding, film-making">
                </div>
                <span class="left"><b>Enter languages you know.</b></span><br>
                <div id="languages">
                <input type="text" class="form-control" ng-model="languages" placeholder="English, Hindi, Telugu">
                </div>
                <input type="submit" class="btn btn-info" value="Register">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>